@charset "UTF-8";

/* 共通部分ここから */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;                /*リンクの下線無くす*/
}

img {
  max-width: 100%;
}

/* 共通部分ここまで */

/* ヘッダーここから */
.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;                /* liタグを横並び */
  font-size: 1.25rem;
  text-transform: uppercase;         /* 大文字にする */
  margin-top: 34px;
  list-style: none;                    /* liに直接適用させてもいい */
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

.page-header {
  display: flex;               /* ロゴとliを横並び */
  justify-content: space-between;         /* ロゴとliを両端に設置 */
}

.wrapper {                   /* ロゴとliが離れすぎるから */
  max-width: 1100px;              /* 横幅の最大値 */
  margin: 0 auto;               /* 中央に配置 */
  padding: 0 4%;               /* スマホ向け余白の指定 */
}
/* ヘッダーここまで */


/* ホームここから */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.page-title {              /* 見出し */
  font-size: 5rem;
  font-family: 'Philosopher', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.button {           /* ボタン */
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background-color: #0090aa;
}

.big-bg {           /* big-bgは他のページでも使うからclassにして、背景画像は#homeに記述した */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../images/main-bg.jpg);
  min-height: 100vh;        /* 画面の高さの指定 */
}

#home .page-title {
  text-transform: none;
}
/* ホームここまで */


/* ページタイトルここから */
#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}

#news .page-title {
  text-align: center;
}
/* ページタイトルここまで */


/* ニュースコンテンツここから */
.news-contents {
  display: flex;         /* 横並びにしたい要素の親要素に記述 */
  justify-content: space-between;     /* "子要素"が両端に揃えられて、自動的に2つのボックスの間に余白ができる */
  margin-bottom: 50px;
}

article {
  width: 60%;    /* asideは22%で合わせて100%になってない */
  order: 2;
}

.post-info {
  position: relative;        /* 子要素にabsolute適用するから */
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title, .post-cat {
  margin-left: 120px;    /* これで日付の右側に配置 */
}

.post-date {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;    /* 親要素にrelative適用してるから使える */
  top: 0;
  padding-top: 10px;
}

.post-date span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, .5) solid;
  padding-top: 6px;
  display: block;          /* これで横並びになった */
  width: 60%;
  margin: 0 auto;        /* 円内の真ん中に配置 */
}

article img {
  margin-bottom: 20px;
}

article p {
  margin-bottom: 1rem;
}

aside {
  width: 22%;    /* articleは74%で合わせて100%になってない */
  order: 3;
}

.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}

.sub-menu li {
  border-bottom: 1px #ddd solid;
}

.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;     /* クリック範囲が広がる */
}

.sub-menu a:hover {
  color: #0bd;
}

aside p {
  padding: 12px 10px;
}
/* ニュースコンテンツここまで */

.ad {
  order: 1;
}

/* フッターここから */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}
/* フッターここまで */


@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }

  /* ヘッダーここから */
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 20px;
  }

  .page-header {
    flex-direction: column;     /* ロゴとliを縦並び(600px以上では横並びにしてる) */
    align-items: center;
  }
  /* ヘッダーここまで */

  /* ホームコンテンツここから */
  .home-content {
    margin-top: 20%;
  }
  /* ホームコンテンツここまで */

  #news .page-title {
    margin-top: 30px;
  }
  
  /* ニュースコンテンツここから */
  .news-contents {
    flex-direction: column;    /* articleとasideを縦並び(600px以上では横並びにしてる) */
  }

  article, aside {
    width: 100%;       /* 横幅いっぱいに広げた */
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-title, .post-cat {
    margin-left: 80px;
  }

  .post-title {
    font-size: 1.375rem;
  }

  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }

  aside {
    margin-top: 60px;
  }

  /* ニュースコンテンツここまで */
}